.button
{
  border-radius: 6px;
  padding: .2rem .7rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.variant-primary
{
  background-color: var(--primary);
  transition: background-color .2s; 
  &.button:active
  {
    background-color: var(--primary-active);
    transition: background-color .2s;
  }
  &:disabled, &.disabled
  {
    background-color: var(--primary-disabled);
  }
}

.variant-secondary
{
  color: var(--text-color);
  border: 2px solid var(--secondary);
  transition: background-color .2s;
  &.button:active
  {
    background-color: var(--secondary-active);
    transition: background-color .2s;
  }
  &.button:disabled, &.disabled
  {
    background-color: (--secondary-disabled);
  }
}

.variant-primary, .variant-secondary
{
  &:disabled, &.disabled
  {
    color: var(--secondary-text-color);
    & > svg:not([fill]) {
      fill: var(--secondary-text-color);
    }
  }
}


.variant-tertiary
{
  color: var(--primary-text-color);
  background-color: transparent;
  transition: background-color .2s;
  &.button:active
  {
    transition: background-color .2s;
    background-color: var(--gray85);
  }
}

.variant-accent
{
  color: var(--primary-text-color);
  background-color: var(--accent);
  transition: background-color .2s;
  &.button:active
  {
    transition: background-color .2s;
    background-color: var(--accent-active);
  }
  &.button:disabled, &.disabled
  {
    background-color: var(--accent-disabled);
  }
}

.color-primary
{
  color: var(--primary-text-color);
}

.color-secondary
{
  color: var(--secondary-text-color);
}

.color-tertiary
{
  color: var(--tertiary);
}

.color-success
{
  &.variant-secondary.button
  {
    border-color: var(--color-success);
    &:active
    {
      background-color: var(--color-success);
      transition: background-color .2s;
    }
  }
  &.variant-primary.button
  {
    background-color: var(--color-success);
    transition: opacity .2s;
    &:active
    {
      transition: opacity .2s;
      opacity: 0.8;
    }
  }
}

.color-error
{
  &.variant-secondary.button
  {
    border-color: var(--color-error);
    &:active
    {
      background-color: var(--color-error);
      transition: background-color .2s;
    }
  }
  &.variant-primary.button
  {
    background-color: var(--color-error);
    transition: opacity .2s;
    &:active
    {
      transition: opacity .2s;
      opacity: 0.8;
    }
  }
}

.color-warning
{
  &.variant-secondary.button
  {
    border-color: var(--color-warning);
    &:active
    {
      background-color: var(--color-warning);
      transition: background-color .2s;
    }
  }
  &.variant-primary.button
  {
    background-color: var(--color-warning);
    transition: opacity .2s;
    &:active
    {
      transition: opacity .2s;
      opacity: 0.8;
    }
  }
}