@import "tailwindcss";
@import "tailwindcss/utilities";


@theme {
  --color-text-primary: #F4F4F4;
  --color-text-secondary: #DFDFDF99;
  --color-text-tertiary: #DFDFDF14;
  --color-bg-primary: #0F0F0F;
  --color-bg-secondary: #1B1B1B;
  --color-primary: #9c1de7;
  --color-secondary: #581b98;
  --color-tertiary: #f3558e;
  --color-accent: #faee1c;
}



:root {
    --bg-color: #0F0F0F;
    --bg-color-secondary: #1B1B1B;
    --bg-button: #2c2c2d;
    --text-color: #F4F4F4;
    --text-color-secondary: #DFDFDF99;
    --text-color-tertiary: #DFDFDF14;
    --border-color: white;
    --gray100: #1C1C1D;
    --gray85: #2C2C2D;
    --gray60: #454545;
    --gray45: #494949;
    --gray30: #686868;
    --gray15: #929292;
    --primary: #9c1de7;
    --primary-active: #b93fff;
    --primary-disabled: #641194;
    --secondary: #581b98;
    --secondary-active: #7021c4;
    --secondary-disabled: #421573;
    --tertiary: #f3558e;
    --tertiary-active: #fb377f;
    --tertiary-disbaled: #9d365c;
    --accent: #faee1c;
    --accent-active: #fff876;
    --accent-disabled: #837d0c;

    --bradius: 15px;
}

body 
{
    background: var(--bg-color);
    color: var(--text-color);
    font-family: Arial, Helvetica, sans-serif;
}

@theme
{
    --accent: #faee1c;
}